/*  Grün    #6AB04C 
    Weiß    #FCF8F2
    Schrift #2B3135
*/

.rezept-header {
  width: 100%;
}

.row{
  margin: 5% 0 0 0;
}

@media (max-width: 992px) {
  
  .col-md-6{
    padding: 1% 0;
  } 
}

.col-md-3{
  padding: 0 5px;
}

.input-group{
  padding: 0 5px;
}

input[type=search]{
  cursor: text;
  border-right: none;
}

.btn-srch{
  padding: 3px 15px;
  background-color: #6AB04C;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px white solid;
}

.btn-srch:focus{
  outline: none;
}

.btn-srch:hover{
  background-color: rgb(90, 150, 64);
  cursor: pointer;
}

.card{
  margin: 0 5px;
  border: none;
  border-radius: 15px;
}

.card-img-top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-title{
  color: #6AB04C;
}

.card-subtitle{
  color: #2B3135;
}

.card-text{
  color: #2B3135;
}

.card-footer{
  text-align: center;
}

button.btn{
  margin: 0;
}

.page-item:hover, .page-link:hover{
  color: #6AB04C;
}

input[type=search]::placeholder {
  color:#FCF8F2;
  font-style: italic;
}
