.rezept {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 0 100%;
}

.box_style {
  background-color:rgb(59, 65, 70);
  color:#FCF8F2;
  margin-top:50px;
  margin-right:10%;
  margin-left:10%;
  padding-top:50px;
  padding-bottom:50px;
  font-family:'Roboto Slab', serif;
  overflow: hidden;
  border-radius: 15px;
  height:auto;
}
